main{
    .section-about-company{
        width: 1170px;
        height: 435px;
        background-color: #FBFBFB;
        padding-top: 150px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 270px 270px 400px;
        grid-template-rows: 125px 125px 125px;
        gap: 30px 30px;
        padding: 30px 70px 30px 100px;
        position: relative;

        & img:nth-child(2) {
          padding-top: 30px;
          }
        & img:nth-child(3) {
            grid-column: 1/2;
            grid-row: 3/4;
          }
          & p:nth-child(5) {
            height: 187px;
            grid-column: 3/4;
            grid-row: 2/3;
          }
          & button:nth-child(5) {
            grid-column: 3/4;
            grid-row: 3/4;
          }
        .photo-companies{
            width: 270px;
        }
        .one{
            height: 265px;
        }
        .two{
            height: 345px;
        }
        .three{
            height: 140px;
        }

        h3,p{
            align-self: end;
        }
        button{
            top: 304px;
            left: 700px;
            & img{
                position: absolute;
            }
            & img:nth-child(1){
               top: 34px;
               left: 140px;
            }
            & img:nth-child(2){
                top: 0px;
                left: 153px;
            }
            &:active{
                border: 1px solid lightseagreen;
            }
        }
    }
    .section-tasks{
        margin: 0 auto;
        width: 1170px;
        padding-top: 26px;
        h3{
            margin-top: 150px;
        }
        .main-tasks-wrapper{
           height: 144px;
           width: 100%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           p{
            height: 144px;
            font-weight: normal;
            font-size: 20px;
            line-height: 33px;
            color: #333333;
            margin: 0;
            margin-left: -240px;
           }
           img{
            width: 104px;
            height: 140px;
            }
           & p:nth-child(2){
               width: 279px;
           }
           & img:nth-child(2){
               width: 120px;
           }
        }
    }
    .section-our-projects{
            max-width: 1170px;
            margin: 0 auto;
            
            h3{
                margin-top: 120px;
            }
            .wrapper-projects{
                height: 540px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: space-between;
              /*   border: 2px solid red; */
                .wrapper-picture{
                    position: relative;
                    height: 255px;
                  .img-description{
                      display: none;
                  }
                }
            }
            .wrapper-projects{
                .wrapper-picture:hover{
                    .img-description{
                        background-color: #333333;
                        display: block;
                        padding-left: 14%;
                        width: 100%;
                        height: 100%;
                        opacity: 0.8;
                        position: absolute;
                        top: 0px;
                        left: 0px;

                         p{
                         color: #FFFFFF;
                         width: auto;
                         height: 122px;
                         font-weight: bold;
                         font-size: 64px;
                         line-height: 64px;
                         text-align: start;
                       }
                      
                       button{
                         font-size: 12px;
                         color: #FFFFFF;
                         background-color: #333333;
                         position: absolute;
                         top: 200px;
                         left: 14px;
                         height: 15px;
                         background-image: url('../imgs/icons/arrow_right_white.svg');
                         background-size: 8px;
                         background-repeat: no-repeat;
                        /*  background-size: cover; */
                         background-position-x: 158px;
                         background-position-y:3px ;
                       }
                     }
                }
                .wrapper-picture:nth-last-child(1){
                    .img-description{
                        p{
                         font-size: 52px;
                        }
                   }
                }
            }
          .all-proj{
              margin-top: 30px;
              margin-bottom: 100px;
            .last-btn{
                position: relative;
                left: 943px;
                & img{
                    position: absolute;
                }
                & img:nth-child(1){
                    top: 36px;
                    left: 159px;
                }
                & img:nth-child(2){
                    top: 32px;
                    left: 172px;
                }
                &:active{
                   box-shadow: -5px 5px  5px lightgrey;
                }
            }
          }
    }
    .section-to-contact-us{
          margin: 0 auto;
          width: 1170px;
        .callback{
         /*    border: 1px solid rgb(38, 0, 128); */
            height: 517px;
            display: flex;
            & img{
                width: 749px;
                height: 369px;
            }
            form{
                display: flex;
                flex-direction: column;
                position: relative;
                & p{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 1px;
                    margin-left: 23px;
                }
                input,textarea{
                    background-color: #F3F3F3;
                    width: 391px;
                    border: none;
                    margin-top: 5px;
                    padding: 25px 23px;
                }
                input{
                    height: 46px;
                    margin-bottom: 5px;
                }
                textarea{
                    height: 147px;
                    padding-bottom: 70px;
                }
                .line-with-css{
                 /*    background-color: #333333;
                    color: #FFFFFF; */
                    background-image: url('../imgs/our_projects_img/line_white.jpg');
                    background-position-x: 155px;
                    background-position-y: 34px;
                    background-repeat: no-repeat;
                    top: 449px;
                    &:active{
                        box-shadow: -5px 5px  5px lightgrey;
                     }
                }
                img{
                    width: 5px;
                    height: 8px;
                    position: absolute;
                    top: 30px;
                    left: 171px;
                }
            }
        }
    }
}
