*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:sans-serif;
}

h3{
    color: #BDBDBD;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
}

p{
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
}

button{
    width: 222px;
    height: 71px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    border: none;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
}

.white{
    color: #333333;
    background-color: #FFFFFF;
}
.black {
    background-color: #333333;
    color: #fff;        
}

@import 'header';

main{
    .section-top{
        max-width: 1440px;
      /*   border: 2px solid rgb(255, 0, 221); */
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 150px;
    
        .project-details{
            display: grid;
            grid-template-rows: 460px 145px;
            gap: 5px;
            .project-name{
                margin-top: 330px;
                width: 280px;
                h1,span{
                    text-transform: uppercase;
                    font-size: 64px;
                    line-height: 64px;
                    letter-spacing:-4px;
                    margin: 0;
                }
               h1{
                   color: #BDBDBD;
                   font-style: normal;
                   font-weight: normal;
               }
               span{
                   color: #333333;
                   font-weight: bold;
               }
            }
            .page-slider{
                position: relative;
                .arrows{
                    position: absolute;
                    left: 0;
                    top: 0;
                   
                    img{
                        position: absolute;
                    }
                    & img:nth-child(1){
                        top: 80px;
                        left: 3px;
                    }
                    & img:nth-child(2){
                        top: 80px;
                        left: 96px;
                    }
                }
    
                .numbers{
                    position: absolute;
                    img{
                        position: absolute;
                    }
                    & img:nth-child(1){
                        top: 248px;
                        left: 4px;
                    }
                    & img:nth-child(2){
                        top: 242px;
                        left: 60px;
                    }
                    & img:nth-child(3){
                        top: 247px;
                        left: 121px;
                    }
                }
            }
        }
        .slider-show{
            width: 770px;
            height: 829px;
            position: relative;
            .test-slider{
                .slid-img{
                    width: 770px;
                    height: 829px;
                }
            }
           .slick-arrow{  /* /slick */
               width: 53px;
               height: 53px;
               position: absolute;
           }
           .slick-next:before,.slick-prev:before{
            background-color: #f2f2f2;
            color: #333333;
           }
           .slick-prev{
            top: 568px;
            left: -668px;
           }
           .slick-next{
            top: 568px;
            left: -572px; 
           }
           
            button{
                position: absolute;
                top: 758px;
                left: 0;
                &:active{
                    border: 1px solid lightseagreen;
                }
                & img{
                    position: absolute;
                }
                & img:nth-child(1){
                    top: 34px;
                    left: 154px;
                }
                & img:nth-child(2){
                    top: 30px;
                    left: 166px;
                }

            }
        }
    }
}
@import 'sectionForMainOne';
@import 'footer';

