*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:sans-serif;
}

h3{
    color: #BDBDBD;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
}

p{
    width: 400px;
    height: 200px;
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
}

@import 'header';

main{
    .section-top{
        max-width: 1440px;
      /*   border: 2px solid rgb(255, 0, 221); */
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .project-name{
            display: grid;
            grid-template-rows: 460px 145px;
            gap: 5px;
            .nameProg{
                margin-top: 330px;
            }
            .page-slider{
                position: relative;
                .arrows{
                    position: absolute;
                    left: 0;
                    top: 0;
                   
                    img{
                        position: absolute;
                    }
                    & img:nth-child(1){
                        top: 80px;
                        left: 3px;
                    }
                    & img:nth-child(2){
                        top: 102px;
                        left: 15px;
                    }
                    & img:nth-child(3){
                        top: 107px;
                        left: 19px;
                    }
                    & img:nth-child(4){
                        top: 80px;
                        left: 96px;
                    }
                    & img:nth-child(5){
                        top: 107px;
                        left: 116px;
                    }
                    & img:nth-child(6){
                        top: 102px;
                        left: 130px;
                    }
                }
    
                .numbers{
                    position: absolute;
                    img{
                        position: absolute;
                    }
                    & img:nth-child(1){
                        top: 248px;
                        left: 4px;
                    }
                    & img:nth-child(2){
                        top: 242px;
                        left: 60px;
                    }
                    & img:nth-child(3){
                        top: 247px;
                        left: 121px;
                    }
                }
            }
        }
        .slider-show{
          /*   max-width: 770px; */
            height: 829px;
            position: relative;
            button{
                position: absolute;
                top: 758px;
                left: 0;
                background-color: #fff;
                width: 222px;
                height: 71px;
                padding: 0;
                border: none;
                &:active{
                    border: 1px solid lightseagreen;
                }
                & img{
                    position: absolute;
                }
                & img:nth-child(1){
                    top: 29px;
                    left: 50px;
                }

                & img:nth-child(2){
                    top: 34px;
                    left: 141px;
                }
                & img:nth-child(3){
                    top: 30px;
                    left: 154px;
                }

            }
        }
    }
}
@import 'sectionForMainOne';

