* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h3 {
  color: #BDBDBD;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
}

p {
  width: 400px;
  height: 200px;
  color: #000000;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
}

button {
  width: 222px;
  height: 71px;
  border: none;
  position: absolute;
}

header {
  /*    border: 1px solid grey; */
  height: 102px;
}

header .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1440px;
  padding: 33px 245px 45px 0px;
  /*    border: 1px solid red; */
  margin: 0 auto;
}

header .container-logo .logo-tools {
  position: relative;
  top: -10px;
}

header .container-logo .logo-tools img {
  position: absolute;
}

header .container-logo .logo-tools img:nth-child(1) {
  left: 39px;
  top: 12px;
}

header .container-logo .logo-tools img:nth-child(2) {
  left: 46px;
  top: 12px;
}

header .container-logo .logo-tools img:nth-child(3) {
  left: 51px;
  top: 21px;
}

header .container-logo .logo-tools img:nth-child(4) {
  left: 58px;
  top: 21px;
}

header .container-logo .logo-tools img:nth-child(5) {
  left: 62px;
  top: 31px;
}

header .container-logo .logo-tools img:nth-child(6) {
  left: 55px;
  top: 18px;
}

header .container-logo .logo-tools img:nth-child(7) {
  left: 57px;
  top: 12px;
}

header .container-logo .logo-tools img:nth-child(8) {
  left: 57px;
  top: 16px;
}

header .container-logo .logo-tools img:nth-child(9) {
  left: 17px;
  top: 41px;
}

header .container-logo nav a {
  padding: 10px;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-decoration: none;
  margin: 0;
}

header .container-logo nav a:hover {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

main .section-top {
  max-width: 1440px;
  /*   border: 2px solid rgb(255, 0, 221); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 150px;
}

main .section-top .project-name {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 460px 145px;
      grid-template-rows: 460px 145px;
  gap: 5px;
}

main .section-top .project-name .nameProg {
  margin-top: 330px;
}

main .section-top .project-name .nameProg img {
  display: block;
}

main .section-top .project-name .page-slider {
  position: relative;
}

main .section-top .project-name .page-slider .arrows {
  position: absolute;
  left: 0;
  top: 0;
}

main .section-top .project-name .page-slider .arrows img {
  position: absolute;
}

main .section-top .project-name .page-slider .arrows img:nth-child(1) {
  top: 80px;
  left: 3px;
}

main .section-top .project-name .page-slider .arrows img:nth-child(2) {
  top: 102px;
  left: 15px;
}

main .section-top .project-name .page-slider .arrows img:nth-child(3) {
  top: 107px;
  left: 19px;
}

main .section-top .project-name .page-slider .arrows img:nth-child(4) {
  top: 80px;
  left: 96px;
}

main .section-top .project-name .page-slider .arrows img:nth-child(5) {
  top: 107px;
  left: 116px;
}

main .section-top .project-name .page-slider .arrows img:nth-child(6) {
  top: 102px;
  left: 130px;
}

main .section-top .project-name .page-slider .numbers {
  position: absolute;
}

main .section-top .project-name .page-slider .numbers img {
  position: absolute;
}

main .section-top .project-name .page-slider .numbers img:nth-child(1) {
  top: 248px;
  left: 4px;
}

main .section-top .project-name .page-slider .numbers img:nth-child(2) {
  top: 242px;
  left: 60px;
}

main .section-top .project-name .page-slider .numbers img:nth-child(3) {
  top: 247px;
  left: 121px;
}

main .section-top .slider-show {
  /*   max-width: 770px; */
  height: 829px;
  position: relative;
}

main .section-top .slider-show button {
  position: absolute;
  top: 758px;
  left: 0;
  background-color: #fff;
  width: 222px;
  height: 71px;
  padding: 0;
  border: none;
}

main .section-top .slider-show button:active {
  border: 1px solid lightseagreen;
}

main .section-top .slider-show button img {
  position: absolute;
}

main .section-top .slider-show button img:nth-child(1) {
  top: 29px;
  left: 50px;
}

main .section-top .slider-show button img:nth-child(2) {
  top: 34px;
  left: 141px;
}

main .section-top .slider-show button img:nth-child(3) {
  top: 30px;
  left: 154px;
}

main .section-about-company {
  width: 1170px;
  height: 435px;
  background-color: #FBFBFB;
  padding-top: 150px;
  /*   border: 1px solid green; */
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 270px 400px;
      grid-template-columns: 270px 270px 400px;
  -ms-grid-rows: (125px)[3];
      grid-template-rows: repeat(3, 125px);
  gap: 30px 30px;
  padding: 30px 70px 30px 100px;
  position: relative;
}

main .section-about-company img:nth-child(2) {
  padding-top: 30px;
}

main .section-about-company img:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

main .section-about-company p:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main .section-about-company button:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

main .section-about-company .photo-companies {
  width: 270px;
}

main .section-about-company .one {
  height: 265px;
}

main .section-about-company .two {
  height: 345px;
}

main .section-about-company .three {
  height: 140px;
}

main .section-about-company h3, main .section-about-company p {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

main .section-about-company button {
  background-color: #fff;
  top: 304px;
  left: 700px;
}

main .section-about-company button img {
  position: absolute;
}

main .section-about-company button img:nth-child(1) {
  top: 29px;
  left: 74px;
}

main .section-about-company button .read-line {
  top: 4px;
  left: 136px;
}

main .section-about-company button .read-arr {
  top: 30px;
  left: 150px;
}

main .section-tasks {
  margin: 0 auto;
  width: 1170px;
  padding-top: 26px;
}

main .section-tasks h3 {
  margin-bottom: 20px;
}

main .section-tasks .main-tasks-wrapper {
  height: 144px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-tasks .main-tasks-wrapper p {
  height: 144px;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  color: #333333;
  margin: 0;
  margin-left: -240px;
}

main .section-tasks .main-tasks-wrapper img {
  width: 104px;
  height: 140px;
}

main .section-tasks .main-tasks-wrapper p:nth-child(2) {
  width: 279px;
}

main .section-tasks .main-tasks-wrapper img:nth-child(2) {
  width: 120px;
}

main .section-our-projects {
  max-width: 1170px;
  margin: 0 auto;
}

main .section-our-projects h3 {
  margin-top: 120px;
}

main .section-our-projects .wrapper-our-proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-our-projects .wrapper-our-proj img {
  margin-bottom: 25px;
}

main .section-our-projects .black-btn {
  background-color: #333333;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  position: relative;
  left: 943px;
}

main .section-our-projects .black-btn img {
  position: absolute;
}

main .section-our-projects .black-btn img:nth-child(1) {
  top: 36px;
  left: 159px;
}

main .section-our-projects .black-btn img:nth-child(2) {
  top: 32px;
  left: 172px;
}

main .section-to-contact-us {
  /*   border: 1px solid green; */
  margin: 0 auto;
  width: 1170px;
}

main .section-to-contact-us .callback {
  /*    border: 1px solid rgb(38, 0, 128); */
  height: 517px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section-to-contact-us .callback img {
  width: 749px;
  height: 369px;
}

main .section-to-contact-us .callback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*  .btn::after{
                    content: '';
                  width: 17px;
                  height: 1px;
                  color: yellow;
                  background-position-x: 170px;
                  background-position-y: 28px;
                } */
}

main .section-to-contact-us .callback form p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  margin-left: 15px;
}

main .section-to-contact-us .callback form input, main .section-to-contact-us .callback form textarea {
  background-color: #F3F3F3;
  width: 391px;
  border: none;
  margin-top: 5px;
  padding: 25px 23px;
}

main .section-to-contact-us .callback form input {
  height: 46px;
  margin-bottom: 10px;
}

main .section-to-contact-us .callback form textarea {
  height: 147px;
  padding-bottom: 70px;
}

main .section-to-contact-us .callback form .btn {
  width: 222px;
  height: 71px;
  background-color: #333333;
  color: #FFFFFF;
  background-image: url("../imgs/our_projects_img/line_white.jpg");
  background-repeat: no-repeat;
  background-position-x: 148px;
  background-position-y: 33px;
  background-image: url("../imgs/icons/Vector 2 (Stroke)@2x.png");
  background-repeat: no-repeat;
  background-position-x: 180px;
  background-position-y: 28px;
}
/*# sourceMappingURL=main.css.map */