main{
    .section-main-top{
       /*  background-color:#333333; */
        padding: 150px 0 150px 0;
        .section-wrapper{
         /*    display: grid;
            grid-template-columns: repeat(3,445px 255px 350px);
            gap: 10px 30px; */
           /*  max-width: 1110px; */
         /*    margin: 0 auto; */
            margin-top: 100px; 
            .theater-section{ 
              h3{
                font-family: Open Sans Condensed;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 29px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                margin: 0;
                margin-bottom: 50px;
              }
                P{
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%; 
                    height: 210px;
                }
            }
            .in-numbers{
                position: relative;
                top: 0px;
                left: 0px;
                span{
                    margin-top: 5px;
                    font-family: Open Sans Condensed;
                    font-style: normal;                     
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    margin-bottom: 20px;
                }
                span::selection{
                    color:  #D1A954;
                }
                p{
                    font-family: Open Sans Condensed;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 29px;
                    letter-spacing: 0.1em;
                    text-align: left;
                }
                .icon-armchair{
                    .top{
                        width: 45px;
                        position: absolute;
                        left: 17px;
                        top: 63px;
                    }
                    .point-one{
                        width: 5px;
                        position: absolute;
                        left: 27px;
                        top: 73px;
                    }
                    .point-two{
                        width: 5px;
                        position: absolute;
                        left: 45px;
                        top: 73px;
                    }
                    .saddle{
                        width: 60px;
                        position: absolute;
                        left: 10px;
                        top: 90px;
                    }
                    span{
                     position: absolute;
                     left: 0;
                     top: 139px; 
                    }
                }
           /*      .icon-clotheForStage{
                    position: absolute;
                    left: 0;
                    top: 180px;
                    img{
                        width: 70px;
                    }
                    span{
                        width: 156px;
                        position: absolute;
                        left: 0;
                        top: 76px; 
                       }
                } */
            }
        }
    }
   /*  .our-productions{
        background-color:$darkColor;
       h2{
           margin-bottom: 60px;
       }
            .ours-slider{
               width: 310px;
               height: 250px;
               margin: 0 auto;
              
               img{
                height: 150px;
               }
            }
       } */
    .section-stars{
       background-image: url('/imgs/Rectangle\ 28@2x.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       display: grid;
       grid-template-columns: 156px 330px;
       gap: 2px 24px;
        
            h5{
                font-style: normal;
                font-weight: bold;
                font-size: 72px;
                line-height: 98px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $color;
            }
       
        .grid-block{
            display: grid;
            grid-template-rows:24px 121px;
            gap: 25px 0px;
            margin-top: 175px;
            .starGold{
                img{
                    width: 22px;
                }
            }
            p{ 
                height: 121px;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 32px;
                color: $lightGray;
            }
        }
      
    } 
   
    .section-theater-partners{
        h2{
            margin:60px 0 20px 0;
        } 
        .wrapper-for-logos{
            margin: 0 33px;
            .block-with-logos{
                position: relative;
                height: 80px;
                  .partner-logo{
                      position: relative;
                      .letterG{
                          background: url(../imgs/icons/path42.svg);
                          width: 57px;
                          height: 67px;
                      }
                      .icon-fire{
                          background: url(../imgs/icons/path40.svg);
                          width: 19px;
                          height: 61px;
                          position: absolute;
                          top: -28px;
                          left: 35px;
                      }
                  }
                  .letters{
                       .marg{
                        margin: 0 1px;
                       }
                       display: flex;
                      height: 35px;
                      position: absolute;
                      top: 32px;
                      left: 58px;
                 
                      .letterGSmall{
                          background: url(../imgs/icons/path26.svg);
                          height: 34px;
                          width: 13px;
                      }
                      .letterA{
                          background: url(../imgs/icons/path28.svg);
                          height: 34px;
                          width: 17px;
                      }
                      .letterZ{
                          background: url(../imgs/icons/path30.svg);
                          width: 17px;
                          height: 34px;
                      }
                      .letterP{
                          background: url(../imgs/icons/path32.svg);
                          width: 15px;
                          height: 34px;
                      }
                      .letterR{
                           background: url(../imgs/icons/path34.svg);
                           width: 16px;
                          height: 34px;
                      }
                      .letterO{
                           background: url(../imgs/icons/path36.svg);
                           width: 15px;
                           height: 34px;
                      }
                      .letterM{
                           background: url(../imgs/icons/path38.svg);
                           width: 26px;
                           height: 34px;
                          
                      }
                  }
               }
        }
     
    }
    
}

.ours-slider{                 /*  CCCЛАЙДЕР-2 большой центр */
    width: 1250px;
    height: 500px;
    margin: 0 auto;
    img{
        height: 350px;
        width: 300px;
    }
}

 .slick-arrow{
    background-color: green;
}

.slick-arrow:hover{
    background-color: rgb(224, 37, 46);
}

@media(max-width:991px){////-------------------------------------
    .section-wrapper{
        .facade-photo{
            display: none;
        }
    }
}

@media(min-width:576px){//************************************************576***********
    main{
        .section-main-top{
              padding:50px 0 160px 0;
            .section-wrapper{
              width: 510px;
              height: auto;
              display: grid;
              grid-template-columns:1fr;
              grid-template-rows:1fr 1f;
              gap: 10px;
                .theater-section{ 
                  h3{
                    text-align: center;
                    margin-bottom: 30px;
                  }
                    P{
                        text-align: center;
                    }
                }
    
                .in-numbers{
                    p{
                        text-align: center;
                        font-family: Open Sans Condensed;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 21px;
                        line-height: 29px;
                        text-align: center;                     
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                    }
                    .icon-armchair{
                        position: absolute;
                        left: 58px;
                        top: -3px;
                        span{
                            position: absolute;
                            left: 15px;
                            top: 138px;
                            width: 178px;
                        }
                    }
                    .icon-clotheForStage{
                        position: absolute;
                        left: 303px;
                        top: 60px;
                    }
                }
                .facade-photo{
                    display: none;
                }
            }
        }
    /*      .our-productions{
            h2{
                margin-bottom: 50px;
            }
            .ours-slider2{
               width: 500px;
               img{
                width: 442px;
               }
            }
       }  */
       .section-theater-partners{
                    h2{
                        margin-top: 50px;
                    }
            .wrapper-for-logos{
                 margin: 0 auto;
                 width: 510px;
                 height: 313px;
                 display: flex;
                 flex-flow:row  wrap;
                 align-content: center;
                 justify-content:space-between;
                .block-with-logos{
                      position: relative;
                        height: 66px;
                        width: 190px;
                        margin-top: 60px;
                }
                .block-with-logos:nth-child(odd){
                   display: none;
                }
            }
        }  
    }
}

@media(min-width:768px){
    main{
        .section-main-top{
       
            .section-wrapper{
                display: grid;
                grid-template-columns: repeat(2,445px 208px);
                gap:2px 30px ;
                width: 690px;
               /*  margin: 50px auto; */
                .theater-section{ 
                    P{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%;
                    }
                }

                .in-numbers{
                span::selection{
                    color:  #D1A954;
                }
                p{
                    font-size: 20px;
                }
                .icon-armchair{
                    position: absolute;
                    left: -6px;
                    top: -4px;
                    span{
                        position: absolute;
                        left: 7px;
                        top: 135px; 
                    }
                }
                .icon-clotheForStage{
                    position: absolute;
                    left: 1px;
                    top: 171px;
                  }
                }
            }
        }
    /*     .our-productions{
            h2{
                margin-bottom: 55px;
            }
            .ours-slider2{
               width: 690px;
               img{
                height: 250px;
               }
            }
       } */
       .section-stars{
        display: grid;
        grid-template-columns: 182px 388px;
        gap: 2px 24px;
        padding-left: 99px;
         .grid-block{
             p{ 
                 font-size: 29px;
             }
         }
     }  
     .section-theater-partners{
                    h2{
                        margin-top: 50px;
                    }
            .wrapper-for-logos{
                 width: 686px;
                 height: 280px;
                .block-with-logos{
                        height: 70px;
                        width: 172px;
                        margin-top: 60px;
                }
                .block-with-logos:nth-child(odd){
                   display: block;
                }
                .block-with-logos:nth-last-child(2){
                    display: none;
                }
                .none{
                    display: none;
                }
            }
        }  
    }
}

@media(min-width:992px){
    main{
        .section-main-top{
            background-color:#333333;
            padding: 150px 0 150px 0;
            .section-wrapper{
                display: grid;
                grid-template-columns: repeat(3,410px 240px 260px);
                gap: 10px 20px;
                width: 992px;
                margin: 0 auto;
                margin-top: 100px;
                .theater-section{ 
                  h3{
                    font-family: Open Sans Condensed;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 29px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 50px;
                  }
                    P{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%; 
                        height: 210px;
                        text-align: start
                    }
                }
    
                .in-numbers{
                    position: relative;
                    top: 0px;
                    left: 0px;
                    span{
                        margin-top: 5px;
                        font-family: Open Sans Condensed;
                        font-style: normal;                     
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.05em;
                        margin-bottom: 20px;
                    }
                    span::selection{
                        color:  #D1A954;
                    }
                    p{
                        font-family: Open Sans Condensed;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 29px;
                        letter-spacing: 0.1em;
                        text-align: left;
                    }
                    .icon-armchair{
                        .top{
                            width: 45px;
                            position: absolute;
                            left: 17px;
                            top: 63px;
                        }
                        .point-one{
                            width: 5px;
                            position: absolute;
                            left: 27px;
                            top: 73px;
                        }
    
                        .point-two{
                            width: 5px;
                            position: absolute;
                            left: 45px;
                            top: 73px;
                        }
                        .saddle{
                            width: 60px;
                            position: absolute;
                            left: 10px;
                            top: 90px;
                        }
                        span{
                         position: absolute;
                         left: 0;
                         top: 139px; 
                        }
                    }
                    .icon-clotheForStage{
                        position: absolute;
                        left: 0;
                        top: 180px;
                        img{
                            width: 70px;
                        }
                        span{
                            width: 156px;
                            position: absolute;
                            left: 0;
                            top: 76px; 
                           }
                    }
                }
                .facade-photo{
                    display: block;
                }
            }
        }
      /*   .our-productions{
            .ours-slider2{
               img{
                height: 350px;
                width: 442px;
               }
            }
       } */
        .section-stars{
        display: grid;
        grid-template-columns: 182px 450px;
        gap: 2px 58px;
        padding: 0 111px 0 191px;
            .grid-block{
             display: grid;
             grid-template-rows:24px 141px;
             gap: 25px 0px;
             margin-top: 175px;
             .starGold{
                 img{
                     width: 22px;
                     height: 24px;
                 }
             }
             p{ 
                 font-size: 34px;
                 height: 141px;
                 line-height: 50px;
             }
            }
        }
       .section-theater-partners{
                    h2{
                        margin-top: 60px;
                    }
            .wrapper-for-logos{
                 margin: 40 111px;
                 height: 372px;
            }
        }  
    }  
}

@media(min-width:1920px){
    main{
        .section-main-top{
           /*  background-color:#333333; */
            padding: 150px 0 150px 0;
            .section-wrapper{
             /*    display: grid;
                grid-template-columns: repeat(3,445px 255px 350px);
                gap: 10px 30px; */
               /*  max-width: 1110px; */
             /*    margin: 0 auto; */
                margin-top: 100px; 
                .theater-section{ 
                  h3{
                    font-family: Open Sans Condensed;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 29px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 50px;
                  }
                    P{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%; 
                        height: 210px;
                    }
                }
                .in-numbers{
                    position: relative;
                    top: 0px;
                    left: 0px;
                    span{
                        margin-top: 5px;
                        font-family: Open Sans Condensed;
                        font-style: normal;                     
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.05em;
                        margin-bottom: 20px;
                    }
                    span::selection{
                        color:  #D1A954;
                    }
                    p{
                        font-family: Open Sans Condensed;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 29px;
                        letter-spacing: 0.1em;
                        text-align: left;
                    }
                    .icon-armchair{
                        .top{
                            width: 45px;
                            position: absolute;
                            left: 17px;
                            top: 63px;
                        }
                        .point-one{
                            width: 5px;
                            position: absolute;
                            left: 27px;
                            top: 73px;
                        }
                        .point-two{
                            width: 5px;
                            position: absolute;
                            left: 45px;
                            top: 73px;
                        }
                        .saddle{
                            width: 60px;
                            position: absolute;
                            left: 10px;
                            top: 90px;
                        }
                        span{
                         position: absolute;
                         left: 0;
                         top: 139px; 
                        }
                    }
               /*      .icon-clotheForStage{
                        position: absolute;
                        left: 0;
                        top: 180px;
                        img{
                            width: 70px;
                        }
                        span{
                            width: 156px;
                            position: absolute;
                            left: 0;
                            top: 76px; 
                           }
                    } */
                }
            }
        }
       /*  .our-productions{
            background-color:$darkColor;
           h2{
               margin-bottom: 60px;
           }
                .ours-slider{
                   width: 510px;
                   height: 550px;
                   margin: 0 auto;
                  
                   img{
                    height: 550px;
                   }
                }
           } */
        .section-stars{
            width: 1110px;
            height: 550px;
           display: grid;
           grid-template-columns: 182px 540px;
           gap: 2px 103px;
           margin: 0 auto;
           padding: 0 95px 0 190px;
            .grid-block{
                display: grid;
                grid-template-rows:24px 121px;
                gap: 25px 0px;
                margin-top: 175px;
                .starGold{
                    width: 230px;
                    img{
                        width: 22px;
                        height: 24px;
                        margin: 5px;
                    }
                }
                p{ 
                    font-family:  Open Sans;
                    font-size: 36px;
                    line-height: 49px;
                    height: 149px;
                    letter-spacing: 1px;
                }
            }
          
        }  
         .section-theater-partners{
                    h2{
                        margin-top: 80px;
                    }
            .wrapper-for-logos{
                 width: 1034px;
                 height: 400px;
                .block-with-logos{
                        margin-top: 40px;
                        width: 210px;
                        height: 100px;
                        .letters{
                            .marg{
                             margin: 0 2px;
                            }
                        }
                }
                .block-with-logos:nth-child(odd){
                   display: block;
                }
                .block-with-logos:nth-last-child(2){
                    display: block;
                }
                .none{
                    display: block;
                }
            }
        }  
    }
}

