$colorBtn: #D1A954;
$colorInput:#444444;
$colorBorder: #616161;

footer{
    h2{
        font-family: Open Sans Condensed;
    }
    .info-for-user{
    
        .callback{
            form{
                p{
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 150%;
                    color: #989898;
                }
                .btn{
                    background-color: $colorBtn;
                    font-family: Open Sans Condensed;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
    }
}

@media(min-width:576px){
    footer{
        h2{
            padding-top: 80px;
        }
        .info-for-user{
            padding: 0 33px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 420px 110px;
            gap: 10px 2px;
            .contacts-footer{
                height: 59px;
                grid-row: 2/3;
                display: grid;
                grid-template: 17px 17px/130px 250px;
                gap: 12px 140px;
                grid-auto-flow: column;
                p{
                    text-align: center;
                    font-family: Open Sans Condensed;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #fff;
                }
                & p:nth-child(3),p:nth-child(4){
                    justify-self: end;
                }
            }
            .callback{
                form{
                    display: grid;
                    grid-template-columns:230px 230px;
                    grid-template-rows:35px 35px 100px 50px 50px 1fr;
                    grid-gap: 30px 50px;
                    min-width: 510px;
                    textarea,input{
                         border: solid 1px $colorBorder;
                         background-color: $colorInput;
                         padding-left: 15px;
                     }
                     input{
                         width: 230px;
                         height: 35px;
                     }
                    textarea{
                        width: 507px;
                        height: 100px;
                        padding-top: 11px;
                    }
                    p{
                        height: 50px;
                        width: 435px;
                        text-align: center;
                        grid-column: 1/3;
                        grid-row: 5/6;
                        justify-self: center;
                    }
                    .btn{
                        width: 190px;
                        height: 50px;
                        grid-column: 1/3;
                        grid-row:4/5;
                        justify-self: center;
                    }
                }
            }
        }
           .after-form{
            width: 504px;
            height: 48px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid #565656;
            margin: 0 auto;
            p{
                width: 250px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 150%;
                color: #989898;
            }
            & p:nth-child(2){
               text-align: end;
            }
        } 
    }
}

 @media(min-width:768px){
    footer{
        h2{
            margin-bottom: 60px;
        }
        .info-for-user{
            display: grid;
            grid-template-rows: 210px 100px;
            gap: 10px 2px;
            width: 690px;
            margin: 0 auto;
            .contacts-footer{
                gap: 12px 305px;
                & p:nth-child(3),p:nth-child(4){
                    justify-self: end;
                }
            }
            .callback{
                width: 690px;
                form{
                    display: grid;
                    grid-template-columns:1fr 1fr 1fr;
                    grid-template-rows:repeat(3,1fr);
                    grid-template-areas:
                     'name company comment'
                     'phone email comment'
                     'text  text btn';
                     grid-gap: 10px 30px;
    
                     input,textarea{
                         border: solid 1px #616161;
                         background-color: $colorInput;
                         justify-self: end;
                     }
                     input{
                         width: 180px;
                         height: 35px;
                     }
                    .name{
                        grid-area: name;
                    }
                    .company{
                        grid-area: company;
                    }
                    .phone{
                        grid-area: phone;
                    }
                    .email{
                        grid-area: email;
                    }
                    textarea{
                        grid-area: comment;
                        width: 270px;
                    }
                    p{
                        grid-area: text;
                        width: 390px;
                        text-align: start;
                    }
                    .btn{
                        grid-area: btn;
                        background-color: $colorBtn;
                        justify-self: end;
                    }
                }
            }
        }
        .after-form{
            width: 690px;
            justify-content: space-between;
            p{
                width: 270px;
            }
        }
    }
} 

@media(min-width:992px){
    footer{
       /*  padding: 0 111px 0 191px; */
        h2{
            margin-bottom: 100px;
        }
        .info-for-user{
            display: grid;
            grid-template-rows: 350px 139px;
            gap: 10px 2px;
            width: 690px;  
            margin: 0 auto;
        }
        .after-form{
            height: 152px;
        }
    }
} 

 @media(min-width:1020px){
    footer{
        .info-for-user{
            display: flex;
            width: 1110px;
            height: 200px;
            margin-bottom: 80px;
            .contacts-footer{
                height: 59px;
                width: 280px;
                margin-right: 30px;
                display: block;
               
                p{
                    text-align: start;
                    margin: 6px;
                }
                & p:nth-child(3),p:nth-child(4){
                    justify-self: start;
                }
            }
            .callback{
                width: 855px;
                height: 190px;
                form{
                     grid-gap: 20px;
                     input,textarea{
                         justify-self: end;
                     }
                     input{
                         width: 180px;
                         height: 35px;
                     }
                    textarea{
                      /*   grid-area: comment; */
                        width: 310px;
                        height: 104px;
                    }
                    p{
                        width: 390px;
                        margin-left: 14px;
                    }
                    .btn{
                        width: 191px;
                        height: 50px;
                        margin-left: 20px;
                        justify-self: end;
                    }
                }
            }
        }
        .after-form{
            width: 1044px;
            height: 78px;
        }
    }
} 