$color:#D1A954;
$lightGray:#fff;
$darkColor:#333;

 
html { scroll-behavior: smooth; 
} 

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    background-color: $darkColor;
}

.container{
    max-width: 540px;
    padding: 0 15px;
    // border: 1px solid #000;
    margin: 0 auto;
    position: relative;
}

h1{
    text-transform: uppercase;
    font-size: 64px;
    margin: 105px 0 50px 0;
    letter-spacing: 0.1em;
}

p{
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    font-family:Open Sans;
}

p::selection{
    color: $color;
}

h2{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    margin: 0;
    margin-bottom: 100px;
}

h2::selection{
    color: #D1A954;
}

@import 'header';
@import 'addSectionMain';
@import 'footer';



//-----------------------------------------------------------------------
/* header{
  
    .contacts{
      
        .text{
         
            &::before{
             
            }
        }
        .socials{
            a{
                &.insta{                   //ссылка с таким классом будет иметь свои стили
                    background-image: url('../imgs/icons/inst.svg');
                    &:hover{
                        background-image: url('../imgs/icons/instHover.svg');
                    }
                }                  
                &.fb{
                    background-image: url('../imgs/icons/fb.svg');
                    &:hover{
                        background-image: url('../imgs/icons/fbHover.svg');
                    }
                }
                &.vk{
                    background-image: url('../imgs/icons/vk.svg');
                    &:hover{
                        background-image: url('../imgs/icons/vkHover.svg');
                    }
                }
                &.youtube{
                    background-image: url('../imgs/icons/youtube.svg');
                    &:hover{
                        background-image: url('../imgs/icons/youtubeHover.svg');
                    }
                }
            }
        }
    }
    .container{
        .menu{
            nav{
                .socials{
                    a{
                        &.insta{                   //ссылка с таким классом будет иметь свои стили
                            background-image: url('../imgs/icons/inst.svg');
                            &:hover{
                                background-image: url('../imgs/icons/instHover.svg');
                            }
                        }                  
                        &.fb{
                            background-image: url('../imgs/icons/fb.svg');
                            &:hover{
                                background-image: url('../imgs/icons/fbHover.svg');
                            }
                        }
                        &.vk{
                            background-image: url('../imgs/icons/vk.svg');
                            &:hover{
                                background-image: url('../imgs/icons/vkHover.svg');
                            }
                        }
                        &.youtube{
                            background-image: url('../imgs/icons/youtube.svg');
                            &:hover{
                                background-image: url('../imgs/icons/youtubeHover.svg');
                            }
                        }
                    }
                   
                }
            }
            // nav
        }
        // .menu
    }
  // .container
}
.menu{
    nav{
        .socials{
            margin: 114px 0px 0px 64px;
            a{
                margin:20px 11px;
            }
        }
    }
} */