body{
    background-color:lightgray;
}

.imgs{
    margin: 5px;
    color: lightslategrey;
    font-size: 20px;
    font-family: sans-serif;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
}

img{
    width: 90px;
}

span{
    margin-left: 15px;
}

