body {
  margin: 0px;
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  color: #0d0d0d;
}

header .logo {
  margin: 5px 105px -17px;
}
header .logo img {
  width: 52px;
}
header .nav {
  width: 100%;
  background-color: #c73838;
  height: auto;
}
header .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav ul li {
  list-style: none;
  text-align: center;
  padding: 24px;
}
header .nav ul li a {
  text-decoration: none;
  color: #b33232;
  width: 200px;
  color: sandybrown;
}
header .nav ul li a:hover {
  text-decoration: underline;
  font-size: 15px -2;
}

.li1:hover {
  background-color: #ffb733;
}
.li1 a:hover {
  color: gray;
}

.li2:hover {
  background-color: #ffb733;
}
.li2 a:hover {
  color: gray;
}

.li3:hover {
  background-color: #ffb733;
}
.li3 a:hover {
  color: gray;
}

.li4:hover {
  background-color: #ffb733;
}
.li4 a:hover {
  color: gray;
}

.li5:hover {
  background-color: #ffb733;
}
.li5 a:hover {
  color: gray;
}

.li6:hover {
  background-color: #ffb733;
}
.li6 a:hover {
  color: gray;
}

.li7:hover {
  background-color: #ffb733;
}
.li7 a:hover {
  color: gray;
}

footer {
  background-color: #512929;
  color: #fff;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  /* .footerImg {
      height:118px;
      font-size: $fontSize*0.8;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      img {
          width: 17px;
          display: block;
      }
  } */
}

.icon {
  width: 23.8095238095px;
  height: 25px;
  margin-left: 20px;
  /*  top: calc($size2 / 4); */
}

.icon-youtube {
  background-image: url("../img/youtube.png");
  background-size: 100% 100%;
}

.icon-facebook {
  background-image: url("../img/facebook.png");
  background-size: 100% 100%;
}

.icon-twitter {
  background-image: url("../img/twitter.png");
  background-size: 100% 100%;
}

.icon-insta {
  background-image: url("../img/insta.png");
  background-size: 100% 100%;
}

main {
  width: 80%;
  height: auto;
  background-color: #ffe9ce;
  margin: 10px auto;
  padding: 15px;
  font-size: 10.5px;
}

p {
  color: #0a0aff;
}